@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Kite One', sans-serif;
    color: #E6CE20;
    background-color: #E6CE20;

}

body {
    margin: 0;
}

header {
    background-color: purple;
    width: 100vw;
    height: 10vw;
    margin: 0;
}

header h1 {
    margin: auto;
    text-align: center;
    margin: auto;
    font-size: 4vw;
    font-family: 'Lobster', cursive;
}


#heroImage {

    width: 100vw;
    height: 56.25vw;
    background-image: url(images/petrograd%20panorama.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


#menu section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2vw;
    justify-items: center;

}

.dishCard {
    background-color: purple;

    height: auto;
    margin: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;

}


section > h2 {
    grid-column: 1 / -1;
    text-align: center;
    color: purple;
    font-size: 4vw;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 0.5vw;
}

.vegetarian {
    display: inline-block
}

.alcohol {
    display: inline-block
}

.lactose {
    display: inline-block
}

.nuts {
    display: inline-block
}


.hidden {
    display: none;
}

.soldout {
    position: relative;
}

.soldout::after {
    content: "";
    background-image: url(images/sold-5250892_200.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1vw;
    align-items: flex-end;
    margin-top: 1.7vw;
}

.strikethrough {
    text-decoration: line-through;
    color: red;
}

.hide {
    display: none;
}

nav a:link {
    color: #E6CE20;
    font-size: 2vw;
    text-decoration: none;
}

nav a:visited {
    color: #E6CE20;
    font-size: 2vw;
    text-decoration: none;
}

nav a:hover {
    color: #E6CE20;
    font-size: 2vw;
    text-decoration: none;
}

nav a:active {
    color: #E6CE20;
    font-size: 2vw;
    text-decoration: none;
}

footer {
    background-color: purple;
    width: 100vw;
    height: 4vw;
    align-content: center;
    justify-content: center;
}
summary {
    color: purple;
    margin-left: 1vw;
}
details {
    margin-left: 1vw;

}
